.bg-darkgrey {
    background-color: $darkgrey !important;
}

.bg-black {
    background-color: $black3 !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-opacitied-grey {
    background-color: $opacitiedGrey !important;
}

.bg-darkblue {
    background-color: $darkblue2 !important;
}

.bg-lightgrey {
    background-color: $lightgrey !important;
}

.bg-black-2 {
    background-color: $black5 !important;
}

.bg-black-3 {
    background-color: $black6 !important;
}