.border-bottom-1 {
    border-bottom: 1px solid $lightgrey;
}

.bor-1 {
    border: 1px solid $lightgrey2;
}

.bor-2 {
    border: 1px solid $lightgrey3;
}

// -radiuses-

.rounded-top-1 {
    border-top-right-radius: .7rem;
    border-top-left-radius: .7rem;
}

.rounded-1 {
    border-radius: 1rem !important;
}

.rounded-6 {
    border-radius: .7rem !important;
}

.rounded-7 {
    border-radius: calc(1rem + 3vw) !important;
}