$orange: #fe4e2b;
$white: #ffffff;
$transparentforblack: rgba(24,24,24,0);
$black: rgba(24,24,24,1);
$opacitiedblack: rgba(24,24,24,.6);
$lightopacitiedblack: rgba(24,24,24,.4);
$darkblack: #000000;
$verylightgrey: #e7f0f3;

$lightgrey3: #dee2e6;


$lightgrey: #d4d4d4;
$lightgrey2: #eff1f3;
$darkgrey: #9e9da2;
$black: #222930;
$lightgreen: #c1e1d3;
$green: #52ab84;
$green2: #68b593;
$green3: #63b390;
$lightblue: #55acee;
$blue: #0976b4;
$darkblue: #3b5998;