// -dropdown-1-
.dropdown-1 {
    border: 0;
    padding: 2.5rem 1.2rem;
    border-radius: 0;
    background-color: #fff;
    min-width: 230px;
}

// -dropdown-2-
.dropdown-2 {
    border: 1px solid $lightgrey2; 
}

// -languages-
.languages .dropdown-menu {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
    width: 100% !important;
    min-width: initial !important;
    padding: 0 !important;
    top: -90% !important;
    bottom: initial !important
}