// -list-style-
.list-style {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

// -item-
.item-num {
    background-color: $green;
    color: $white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    margin-right: 1rem;
}

.item-arrow {
    color: $lightgrey;
    margin-left: 1rem;
}

.item-arrow-right {
    display: none !important;
}

.item-arrow-bottom {
    transform: rotate(180deg);
    display: block !important;
    width: 100%;
    text-align: right;
    margin-top: 1rem;
}

@media (min-width: 992px) {

    .item-arrow-right {
        display: inline-block !important;
    }

    .item-arrow-bottom {
        display: none !important;
    }

}