.mt-6 {
    margin-top: 250px;
}

@media (min-width: 992px) {
    .mt-6 {
        margin-top: 190px;
    }
}

.mt-7 {
    margin-top: 5rem;
}

.top-1 {
    top: 1rem;
}

.start-1 {
    left: 1rem;
}

.p-6 {
    padding: 1.8rem !important;
}

.py-6 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}