.mt-6 {
    margin-top: calc(6rem + 6vw);
}

.mt-7 {
    margin-top: calc(3rem + 3vw);
}

.pb-6 {
    padding-bottom: 4rem;
}

.pb-7 {
    padding-bottom: 2rem;
}

.top-n1 {
    top: -50px;
}

.top-6 {
    top: 60px;
}