.txt-darkgrey {
    color: $darkgrey2;
}

.txt-darkblue {
    color: $darkblue !important;
}

.txt-verydarkblue {
    color: $verydarkblue !important;
}

.txt-black {
    color: $black !important;
}

.txt-white {
    color: $white !important;
}

@media (hover: hover) {
    .txt-white-on-hover:hover {
        color: $white !important;
    }
}

.txt-white-on-hover:active {
    color: $white !important;
}